.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100px;
}

#documentation {
    border: 1px green solid;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 1000px;
}

.language-js {
    display: block;
    padding-top: 5px;
}

blockquote {
    margin-top: 0px;
    margin-bottom: 0px;
}