/*  The CSS code here was used directly from w3schools.com the specific links are:
    https://www.w3schools.com/css/css_tooltip.asp
    https://www.w3schools.com/css/css_table.asp
*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {

    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 105%;
          
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    padding: 15px;
    display: table-cell;
  }

  tr:hover {background-color:#f5f5f5;}
