/*  The CSS code here was used directly from w3schools.com the specific links are:
    https://www.w3schools.com/css/css_tooltip.asp
    https://www.w3schools.com/css/css_table.asp
*/

table {
  background-color: #9fa9a3;
}

.tooltip {
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {

    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 105%;
          
}

table, td, th {  
    border: 1px solid black;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    padding: 15px;
    display: table-cell;
  }

  tr:hover {background-color:#e3e0cc;}
